* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* regole header */

.flex-header {
    display: flex;
    justify-content: space-between;

    padding: 20px;

    
}

.flex-link {
    display: flex;
    gap: 30px;
    align-items: center;


    list-style: none;

}

/* stile hero */

#hero {
   /* width: 80%;
   margin: 0 auto; */
   background-color: #b4d0e7;
   min-height: 600px;
}

#color-hero {
    width: 70%;
    margin: 0 auto;
    padding: 40px;
    background-color: #b4d0e7;
}

#flex-hero {
    display: flex;
}

.hero-img {
    width: 750px;
}

h1 {
    /* text-align: center; */
    margin-bottom: 35px;
    font-size: 60px;
    
}

.size {
    font-size: 20px;
    margin-bottom: 25px;
}

#botton-hero {
    margin-bottom: 25px;
}

.fa-arrow-down {
    margin-top: 30px;
    display: block;
    font-size: 35px;
}




/*  stile contenuto principale */

.flex-table {
    display: flex;
    justify-content: space-between;

    gap: 20px;
}


.table {
    border: 2px solid black;
    padding: 10px 40px;

    margin-top: 20px;
}

.table > span {
    display: block;

    margin-top: 20px;
    margin-bottom: 20px;
}


.border-top {
    border-bottom: solid 2px black;
}






/*  debug */

/* header {
    height: 100px;
    ;
} */

/* #hero {
    background-color: #b4d0e7;
    height: 600px;
} */

main {
    height: 800px;
    background-color: red;

    width: 60%;
    margin: 0  auto;
    padding: 30px;
}


section {
    background-color: greenyellow;
}