* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






button {
    border: 0 solid;
    background-color: #0061ff;
    color: white;
    padding: 10px 20px;
}

/* regole header */

.flex-header {
    display: flex;
    justify-content: space-between;

    padding: 20px;

    
}

.flex-link {
    display: flex;
    gap: 30px;
    align-items: center;


    list-style: none;

}

/* stile hero */

#hero {
   /* width: 80%;
   margin: 0 auto; */
   background-color: #b4d0e7;
   min-height: 600px;
}

#color-hero {
    width: 70%;
    margin: 0 auto;
    padding: 40px;
    background-color: #b4d0e7;
}

#flex-hero {
    display: flex;
}

.hero-img {
    width: 750px;
}

h1 {
    /* text-align: center; */
    margin-bottom: 35px;
    font-size: 60px;
    
}

.size {
    font-size: 20px;
    margin-bottom: 25px;
}

#botton-hero {
    margin-bottom: 25px;
}

.fa-arrow-down {
    margin-top: 30px;
    display: block;
    font-size: 35px;
}




/*  stile contenuto principale */

.content-main {
    padding: 50px;
    margin-top: 40px;

    width: 65%;
    margin: 0  auto;
}


.input-bottom {
    margin-top: 50px;
    margin-bottom: 50px;

    
}

.flex-table {
    display: flex;
    justify-content: space-between;


    align-items: stretch;
    gap: 25px;
}



.content-table > span {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title-table {
    border-bottom: 1px solid black;
   

    text-align: center;
    padding: 10px;

}

.content-table {
    padding: 20px;
    /* border: solid 1px black; */
}

.fa-check {
    color: #3b91ff;
}


/* seconda section */

#office  {
    display: flex;
    justify-content: space-between;

    
}

.content-office {
    padding: 30px;
}

.table-office {
    border: solid 1px black;

    /* padding: 20px ; */
    margin-top: 30px;
}

.title-office {
    border-bottom: 1px solid black ;
    padding: 10px;
    text-align: center;
}

.content-office > h4 {
    margin-bottom: 35px;
    
}



/* section partner (3) */

.flex-partner {
    display: flex;

    padding: 10px;
    margin-top: 75px;
}

#partner {
    width: 500px;
}

.margin-partner {
    margin-left: 35px;
    padding: 10px;
}

.margin-partner > p {
    margin: 20px auto;
}


/* quarta section business */
.container-business {
    margin-top: 50px;
}

.container-business > h2 {
    margin-bottom: 30px;
}

.flex-business {
    display: flex;
    justify-content: space-between;


    margin-bottom: 30px;
   

    /* width: calc(100% / 3); */

    /* gap: 15px; */
}


.business {
    width: 270px;
}

.business-margin > p {
    margin-top: 20px;
    margin-bottom: 50px;
}



/*  section client*/

.client > h2 {
    margin-top: 20px;
    margin-bottom: 30px;
}



/*  debug */

/* header {
    height: 100px;
    ;
} */

/* #hero {
    background-color: #b4d0e7;
    height: 600px;
} */

 /* main {
    /* height: 800px;
    background-color: red; } */



/* section {
    background-color: greenyellow;
    height: 400px;

}  */


.table {
    /* background-color: violet; */
    border: solid 1px black;
}


.debug {
    /* height: 400px; */
    /* background-color: brown; */

    /* margin-top: 50px; */
}